.container {
    position: relative;
    margin: auto;
    width: 50%;
    top: 120px;
    color: black;
    background-color: #ffffff;
    padding: 15px;
    padding-top: 1px;
    border-radius: 1em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}


.avatar {
    width: 100px;
    border-radius: 50%;
    border: 1px solid black
}

.upperTable,
.upperTable td {
    height: 150px;
    padding-left: 5px;
}



.upperTable button {
    background-color: #f44336;
    border: none;
    border-radius: 5px;
    color: white;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    width: 60px;
    height: 30px;
    border: none;
}

#pic {
    width: 100px;
    text-align: center;
}

#name {
    padding-left: 10px;
}

#edit {
    width: 390px;
}

#edit button {
    float: right;
    background-color: black;
    color: white;
    font-weight: bold; 
}


.lowerTable td {
    height: 30px;
    width: 760px;
    padding-left: 15px;
}

#ans {
    color: #65676b;
}
